
.about1 {
    position: relative;
    width: 100%;
    left:2%;
    text-align: center;
    background-color: hwb(110 2% 60% / 0.902);
    padding: 20px;
    text-align: center;
    
  }
  
  .about2 {
    position: relative;
    width: 100%;
    left:2%;
  }
  
  
 
  