.containerWithBackground {
  position: relative;
}

.backgroundImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.restro1 {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  width: 32%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  text-align: center;
}

.restro2 {
  position: absolute;
  top: 52%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 35%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  text-align: center;
}


@media (max-width: 851px) {
    .restro1{
        display:none;
    }
    .restro2    {
        position:absolute;
        width:100%;
       left:45%;
       padding-left: 30px;
    }
 
  
  
}

